nav {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9;

  width: 100%;
  max-width: var(--container-width-lg);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav a {
  color: var(--color-white);
}

nav a:hover,
nav a:active,
h4 a:hover,
h4 a:active {
  opacity: 0.8;
}

.logo {
  width: 17.8rem;
  height: 6.3rem;
}

.logo a:hover {
  opacity: 1;
}

.navbar__menu {
  display: flex;
  gap: 8.1rem;
}

.language a {
  display: inline-block;
  padding: 0.5rem 0.8rem 0.5rem 0.7rem;
  border: 0.1rem solid var(--color-white);
  border-radius: 0.6rem;
  text-transform: uppercase;
}

.language a:hover,
.language a:active {
  background-color: var(--color-white);
  color: var(--color-main);
  opacity: 1;
  text-decoration: none;
}

h1 a,
h2 a {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.8rem;
  color: var(--color-white);
}

.btn {
  background-color: var(--color-secondary);
  color: var(--color-main);
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
  padding: 1rem 5rem;
  border-radius: 3rem;
}

.btn:hover,
.btn:active {
  background-color: var(--color-hover);
}

h4 a {
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
}

.social__networks {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.social__networks-icon {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.1rem solid var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__networks-icon i {
  font-size: 2.5rem;
  color: var(--color-white);
}

.copyright {
  text-align: center;
}

.copyright span {
  display: block;
  line-height: 2;
}

.phone {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  border: 0.15rem solid var(--color-secondary);
  border-radius: 3rem;

  padding: 0.8rem 1.6rem;
}

.phone a {
  color: var(--color-white);
}

.phone i {
  margin-right: 1.6rem;
  font-size: 2.2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8.5rem 3rem;

  border-top: 0.15rem solid var(--color-secondary);
}
