*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 10/16*100%=62.5% --> 1rem=10px */
  font-size: 62.5%;
}

:root {
  --color-main: #181818;
  --color-secondary: #ffec00;
  --color-white: #ffffff;

  --color-hover: #c7ba00;

  --container-width-lg: 130rem;

  --main-font: "Raleway", sans-serif, serif;
}

/* @font-face {
  font-family: var(--main-font);
  src: url("./fonts/static/Raleway-Black.ttf") format("truetype");
  src: url("./fonts/static/Raleway-Regular.ttf") format("truetype");
  src: url("./fonts/static/Raleway-Bold.ttf") format("truetype");
} */

body {
  font-size: 1.6rem;
  font-family: var(--main-font);
  font-weight: 400;

  line-height: 1;
  letter-spacing: 0.02em;

  background-color: var(--color-main);
  color: var(--color-white);
}

h1,
h2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.8rem;
}

h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4rem;
}

h4 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: var(--container-width-lg);
  margin: 0 auto;

  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;

  margin-bottom: 6.7rem;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
